<div class="row mt-5">
  <%= form_tag(films_path, method: :get)  do %>
    <%= text_field_tag :search, @search_term, placeholder: "Search here",
      type: "text", autocomplete: 'on' %>
    <%= submit_tag("Search") %>
  <% end %>
</div>
<div class="row">
  <div class="col-sm-2 mt-2">
    <%= link_to "Clear", "#{films_path}", class: "btn btn-primary" %>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table table-striped">
      <thead>
      <td scope="col">#</td>
        <td scope="col">Movie</td>
        <td scope="col">Year</td>
        <td scope="col">Director</td>
        <td scope="col">Actor</td>
        <td scope="col">Filming Location</td>
        <td scope="col">Country</td>
      </thead>
      <tbody>
        <% @films.each do |film_o| %>
          <tr>
          <td scope="col"><%= film_o.id %></td>
            <td scope="col"><%= film_o.movie %></td>
            <td scope="col"><%= film_o.year.strftime("%Y") %></td>
            <td scope="col"><%= film_o.director %></td>
            <td scope="col"><%= film_o.actor %></td>
            <td scope="col"><%= film_o.filming_location %></td>
            <td scope="col"><%= film_o.country %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>



